.create-task-list-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2000;
    animation: fadeIn 0.2s ease-out;
}

.create-task-list-panel {
    background-color: #575F70;
    border-radius: 16px;
    padding: 30px;
    width: 700px;
    max-width: 90%;
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.5);
    animation: slideUp 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.create-task-list-panel-content {
    margin-bottom: 30px;
}

.create-task-list-input-group {
    position: relative;
}

.create-task-list-input-field {
    width: 100%;
    padding: 5px 1px;
    background-color: transparent;
    border: transparent;
    border-radius: 3px;
    color: white;
    font-size: 25px;
    outline: none;
    transition: all 0.2s;
    box-sizing: border-box;
    border-bottom: 3px solid rgba(217, 217, 217, 1);
}

.create-task-list-input-field::placeholder {
    color: rgba(255, 255, 255, 1);

}

.create-task-list-input-field.input-error {
    border-color: #FF6B6B;
    background-color: rgba(255, 107, 107, 0.1);
}

.create-task-list-input-field.input-error:focus {
    border-color: #FF6B6B;
    background-color: rgba(255, 107, 107, 0.15);
}


.create-task-list-error-message {
    color: black;
    font-size: 20px;
    margin-top: 15px;
    padding: 8px 12px;
    background-color: rgba(255, 107, 107, 1);
    border-radius: 6px;
    width: 450px;
}

.panel-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}


.create-task-list-btn-confirm {
    padding: 12px 30px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s;
}

.create-task-list-btn-cancel {
    position: relative;
    padding: 12px 30px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s;
    right: 350px;
}

.create-task-list-btn-cancel {
    background-color: #2D2D30;
    color: white;
}

.create-task-list-btn-cancel:hover {
    background-color: #7C8495;
}

.create-task-list-btn-confirm {
    background-color: #2D2D30;
    color: white;
}

.create-task-list-btn-confirm:hover {
    background-color: #7C8495;
}

/* Неактивная кнопка */
.create-task-list-btn-confirm.btn-disabled,
.create-task-list-btn-confirm:disabled {
    background-color: rgba(255, 255, 255, 0.1);
    cursor: not-allowed;
    opacity: 0.5;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(30px) scale(0.95);
    }
    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}